<template>
    <v-container fluid fill-height>
        <v-layout justify-center align-center>
            <v-flex xs12 sm8 md4>
                404
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    export default {
        name: 'not-found-page',
    }
</script>
