<!doctype html>
<html lang="de">
<head>
    <title>Jollyroger</title>
</head>
<body>
<h1>Hallo {{username}}!</h1>
<nav>
    <ul>
        <li><a href="/budget">Budget</a></li>
        {{#loggedIn}}
        <li><a href="/logout">Logout</a></li>
        {{/loggedIn}}
        {{^loggedIn}}
        <li><a href="/login">Login</a></li>
        {{/loggedIn}}
    </ul>
</nav>
</body>
</html>
