<template>
    <v-toolbar app flat scroll-off-screen>
        <v-toolbar-side-icon></v-toolbar-side-icon>
        <v-toolbar-title class="headline text-uppercase">
            <router-link to="/" class="white--text" style="text-decoration: none;">
                <v-icon medium color="primary">trending_up</v-icon>
                <span> Jollyroger</span>
                <span class="font-weight-light">Budget</span>
            </router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-progress-circular
                v-if="loading"
                indeterminate
                color="grey"
                :width="2"
                :size="23"
        ></v-progress-circular>
    </v-toolbar>
</template>

<script>
    export default {
        name: 'header-toolbar',
        data: () => ({
            loading: false,
        }),
    };
</script>
