<template>
    <v-app dark>
        <header-toolbar/>
        <v-content v-if="loading">
            <v-container fluid fill-height>
                <v-layout justify-center align-center>
                    <v-flex xs12 sm8 md4>
                        <h1>Anmeldedaten werden geprüft</h1>
                        <p>Einen kleinen Momen bitte &hellip;</p>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <v-content v-else>
            <router-view></router-view>
        </v-content>
    </v-app>
</template>

<script>
    import HeaderToolbar from './components/HeaderToolbar'

    export default {
        name: 'App',
        components: {
            HeaderToolbar
        },
        data: () => ({
            loading: true,
            authenticated: false,
        }),
        watch: {
            loading() {
                if (this.authenticated) {
                    // TODO: redirect to homepage
                } else {
                    // TODO: redirect to login
                }
            }
        },
        mounted() {
            // TODO: load authentication
            setTimeout(() => {
                this.loading = false;
                this.authenticated = true;
            }, 10);
        }
    }
</script>
