<template>
    <v-container fluid fill-height>
        <v-layout justify-center align-center>
            <v-flex xs12 sm8 md4>
                <v-card>
                    <v-toolbar>
                        <v-toolbar-title>Herzlich Willkommen in deinem Haushaltsplan</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <p>Was möchtest du als nächstes tun?</p>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer/>
                        <v-menu offset-y>
                            <template v-slot:activator="{ on }">
                                <v-btn flat v-on="on">
                                    <v-icon left>more_vert</v-icon>
                                    Weitere Aktionen
                                </v-btn>
                            </template>
                            <v-list>
                                <v-list-tile to="/insert">
                                    <v-list-tile-title>Manuelle Buchung</v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile to="/result">
                                    <v-list-tile-title>Kontoauszug importieren</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                        <v-menu offset-y>
                            <template v-slot:activator="{ on }">
                                <v-btn color="primary" v-on="on">
                                    <v-icon left>flash_on</v-icon>
                                    Schnellbuchung
                                </v-btn>
                            </template>
                            <v-list>
                                <v-list-tile to="/quick/vorlage1">
                                    <v-list-tile-title>Vorlage 1</v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile to="/quick/vorlage2">
                                    <v-list-tile-title>Vorlage 2</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    export default {
        name: 'home-page',
    }
</script>

