<!--suppress XmlUnboundNsPrefix -->
<template>
    <v-container fluid fill-height>
        <v-layout justify-center align-center>
            <v-flex xs12 sm10 md8>
                <v-form>
                    <h2 class="mb-5">Neue Buchung einfügen</h2>

                    <v-text-field v-model="entry.entryId" label="ID" disabled></v-text-field>
                    <v-dialog
                            ref="dialog"
                            v-model="modal"
                            :return-value.sync="entry.billDate"
                            persistent
                            lazy
                            full-width
                            width="290px"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                    v-model="entry.billDate"
                                    label="Picker in dialog"
                                    append-icon="event"
                                    readonly
                                    v-on="on"
                            ></v-text-field>
                        </template>
                        <v-date-picker v-model="entry.billDate" scrollable>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="modal = false">Abbrechen</v-btn>
                            <v-btn flat color="primary" @click="$refs.dialog.save(entry.billDate)">Übernehmen</v-btn>
                        </v-date-picker>
                    </v-dialog>

                    <v-switch
                            class="mt-5"
                            color="primary"
                            v-model="newAfterSave"
                    >
                        <template v-if="newAfterSave" v-slot:label>
                            <div>Nach dem Speichern <strong>eine</strong> neue Buchung beginnen</div>
                        </template>
                        <template v-else v-slot:label>
                            <div>Nach dem Speichern <strong>keine</strong> neue Buchung beginnen</div>
                        </template>
                    </v-switch>
                    <v-btn color="primary" v-on="on">
                        <v-icon left>save</v-icon>
                        Speichern
                    </v-btn>
                </v-form>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    export default {
        name: 'insert-page',
        data() {
            return {
                newAfterSave: false,
                entry: {
                    entryId: 123,
                    billDate: new Date()
                }
            }
        },
    }
</script>
